<div class="swiper-container">
    <div class="swiper-wrapper">
        <div class="swiper-slide" ng-repeat="item in $ctrl.data">
            <img ng-src="{{item.file}}" />
            <div class="content">
                <div class="content-container">
                    <div class="subtitle" ng-show="item.subtitle">{{item.subtitle}}</div>
                    <div class="title" ng-show="item.title">{{item.title}}</div>
                    <div class="desc" ng-bind-html="item.description" ng-show="item.description"></div>
                </div>
            </div>
        </div>
    </div>
    <div class="swiper-button-prev swiper-button-white"></div>
    <div class="swiper-button-next swiper-button-white"></div>
</div>