@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500,700');
* {
    font-size: 16px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    transition: all .2s linear;
    -o-transition: all .2s linear;
    -moz-transition: all .2s linear;
    -webkit-transition: all .2s linear;
}

body {
    font-family: 'Karla', 'Roboto', sans-serif;
    background: #F5F5F5;
}

.s-container {
    width: 100%;
    max-width: 1380px;
    margin: 0 auto;
    padding: 0;
}

#main {
    margin-top: 90px;
}

#site-header {
    background-color: #FFF;
    color: #000;
    height: 90px;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 10;
    -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, .3);
    box-shadow: 0 0 10px rgba(0, 0, 0, .3);
}

#site-header .container {
    width: 100%;
    margin: 0 auto;
    padding: 0 50px;
}

#site-header .logo {
    line-height: 90px;
    width: 184px;
}

#site-footer {
    background-color: #008FBE;
    color: #FFF;
    height: 60px;
}

#site-footer .menu li {
    display: inline-block;
    padding: 0 15px;
}

#site-footer .menu li a {
    line-height: 60px;
    transition: color .2s linear;
    -o-transition: color .2s linear;
    -moz-transition: color .2s linear;
    -webkit-transition: color .2s linear;
}

#site-footer .menu li:first-child {
    padding-left: 0;
}

#site-footer .menu li:last-child {
    position: relative;
    padding: 0 30px;
    font-family: 'Roboto', sans-serif;
    font-weight: lighter;
    font-size: 14px;
}

#site-footer .menu li:last-child:before {
    content: '|';
    color: #FFF;
    position: absolute;
    top: 0;
    left: 7px;
}

#site-footer .socialnetwork {
    position: relative;
    height: 60px;
}

#site-footer .socialnetwork iframe {
    position: absolute;
    top: 50%;
    right: 0;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
}

.scrollpad_wrapper {
    position: relative;
    width: 940px;
    max-width: 100%;
    left: calc(100% - 940px - 210px);
    margin-top: 9.5%;
    z-index: 9;
}

.scrollpad_wrapper .scrollpad .scrollpad-item {
    background: #FFF;
}

.scrollpad_wrapper .scrollpad .scrollpad-item:not(:first-child) {
    margin-top: 40px;
}

.scrollpad_wrapper .scrollpad .scrollpad-item .scrollpad-container {
    padding: 75px 100px;
}



