

#navbar {
  list-style: none;
  margin: 0;
  padding: 0;

  li {
    display: inline-block;
    padding: 0 20px;

    a {
      line-height: 90px;
      color: #989898;
      text-decoration: none;

      &.signin {
        padding: 10px 21px;
        border: 1px solid $blue;
        border-radius: 5px;
        color: $blue;
      }

      &:hover {
        line-height: 90px;
        color: #2FA4C7;
        text-decoration: none;
      }
    }


    &.active a {
      color: $blue;
    }
  }
}
